TPED=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test/WHOLECHR/hapmap3_r3_b36_fwd.consensus_subset50_chr22.qc.poly_PREPDATA.newbuild.tped
TFAM=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test/WHOLECHR/hapmap3_r3_b36_fwd.consensus_subset50_chr22.qc.poly_PREPDATA.tfam
TEMP_FOLDER=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test/WHOLECHR/Impute_tmp
FORWARDSTRAND_IND=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test/WHOLECHR/imp2_b37_filter_ambistrand.txt
INNER_DIR=impute
IMPUTE_REF=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test/impute_ref/ALL_1000G_phase1integrated_v3_impute
IMPUTE_WINDOW=5000000
IMPUTE_EDGE=125
HAPS=NA
EMAIL=email
SGE_SHAPEIT_MEM=15G
SGE_SHAPEIT_QUEUE=4-days
SGE_IMPUTE_MEM=15G
SGE_IMPUTE_QUEUE=1-day
LOCALTEMP_SHAPEIT=4G
LOCALTEMP_IMPUTE=1G
RESTART=NO
USERNAME=username
SHAPEITONLY=NO
LOCALTEMP=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test/WHOLECHR/LOCAL_TEMP
SHAPEIT_EXTRA_PARAM=--seed 123456789 --states 100 --thread 4
ENVR=MANUAL
CHR_START_INPUT=NO
WINDOW_CUTOFF_NUM_MARKERS=50
EDGE_CUTOFF_NUM_MARKERS=10
LESS_NUM_SAMP=NO
