TPED=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test/hapmap3_r3_b36_fwd.consensus.qc.poly_build37_PREPDATA.newbuild.tped
TFAM=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test/hapmap3_r3_b36_fwd.consensus.qc.poly_build37_PREPDATA.tfam
TEMP_FOLDER=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test/qcfwdstruc_tmp
INNER_DIR=tmp
IMPUTE_REF=/data5/bsi/refdata/genetics/1000Genomes/downloaded_data/release/20110521/impute/ALL_1000G_phase1integrated_v3_impute
OUTPUT_FOLDER=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test/qcfwdstruc
IMPUTEREF_VERSION=ALL_1000G_phase1integrated_v3_impute
GENOTYPE_PERCENT_CUTOFF=1
SAMPLE_PERCENT_CUTOFF=1
BEAGLE_REF_DB=/data2/bsi/RandD/Arraybased_RND/Easy_imputer_test/DBDIR/BEAGLE/
OPTION=forward_strand
