INPUT_PLINK=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/hapmap3_r3_b36_fwd.consensus.qc.poly_build37
IMP2_OUT_DIR=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/test
MODULES_NEEDED=UPGRADE_BUILD,REF_FILTER,QC_REQUIRED,IMPUTE
DBSNP_DOWNLOADLINK=ftp://ftp.ncbi.nlm.nih.gov/snp/organisms/human_9606_b141_GRCh37p13/database/organism_data/b141_SNPChrPosOnRef_GRCh37p13.bcp.gz
DBSNP_DIR=/data2/bsi/RandD/Arraybased_RND/Easy_imputer_test/DBDIR
IMPUTE_REF=/data5/bsi/refdata/genetics/1000Genomes/downloaded_data/release/20110521/impute/ALL_1000G_phase1integrated_v3_impute
IMPUTEREF_VERSION=ALL_1000G_phase1integrated_v3_impute
BEAGLE_REF_DB=/data2/bsi/RandD/Arraybased_RND/Easy_imputer_test/DBDIR/BEAGLE/
EMAIL=email
USERNAME=username
DEAL_AMBIGUOUS=YES
