PLINK=/projects/bsi/gentools/bin/plink
STRUCTURE=/data5/bsi/bioinf_int/s106381.borawork/ezimputer_bsi_TOOLS/STRUCTURE/console/structure
STRUCTURE_PARAM=/data5/bsi/bioinf_int/s106381.borawork/ezimputer_bsi_TOOLS/STRUCTURE/console/extraparams
SHAPEIT=/data5/bsi/bioinf_int/s106381.borawork/ezimputer_bsi_TOOLS/SHAPEIT/shapeit
IMPUTE=/data5/bsi/bioinf_int/s106381.borawork/ezimputer_bsi_TOOLS/IMPUTE/impute_v2.3.1_x86_64_static/impute2
CHECK_STRAND=/data5/bsi/bioinf_int/s106381.borawork/ezimputer_bsi_TOOLS/CHECK_STRAND/check_strands_16May11/check_strands.py
GPROBS=/data5/bsi/bioinf_int/s106381.borawork/ezimputer_bsi_TOOLS/GPROBS/gprobsmetrics.jar
PERL=/usr/local/biotools/perl/5.10.0/bin/perl
PYTHON=/usr/local/biotools/python/2.7/bin/python
JAVA=/usr/bin/java
QSUB=/home/oge/ge2011.11/bin/linux-x64/qsub
SH=/bin/bash
